<h1>Here is your newly created Pokemon</h1>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <img src="https://img.pokemondb.net/artwork/<%= @pokemon.name.downcase %>.jpg"><br>
   </body>
</html>

<label>Name</label> <%=@pokemon.name%><br> <label>Type   </label><%=@pokemon.pokemon_type%>

<form method="post" action="/pokemon/<%=@pokemon.id%>">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete Pokemon">
</form>

<form  method="get" action="/trainers/<%=current_user.id%>">
    <input type="submit" id="submit" value="Back">

</form>

<form  method="get" action="/pokemon/<%=@pokemon.id%>/edit">
    <input type="submit" value="Edit">

</form>





